body{
    background-color: #161a47;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
}
h1{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
h2{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.Row{
   display: flex;
   flex-wrap: wrap;
}

.Row > div{
    margin: auto;
    padding: 10px;
    height: 132px;
}

.CountryMaps{
    text-align: center;
    filter: invert(100%);
}
.CountryFlags{
    text-align: center;
}
.CountryNames{
    text-align: center;
}


